header {
    h1 {
        color: white;
        letter-spacing: 0.1em;
        text-shadow: 0 0 10px black;
        font-size: 3em;
        padding: 15px;
        cursor: default;
        user-select: none;
    }
}
