main {
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 10%;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: -75px;
    h2 {
        text-align: center;
        color: white;
        text-shadow: 0 0 5px black;
        font-size: 2em;
    }
}

.board {
    height: min(43vw, 500px);
    width: min(43vw, 500px);
    background-color: white;
    display: flex;
    flex-direction: column;
    .row {
        outline: solid black 1px;
        height: 10%;
        display: flex;
        flex-direction: row;
        .space {
            outline: solid black 1px;
            width: 10%;
        }
    }
}

.enemy {
    .space:hover {
        cursor: pointer;
        background-color: lightgray;
    }
}

.hasShip {
    background-color: darkslateblue;
    outline: none !important;
    z-index: 1;
}
.hit {
    background-color: rgb(255, 0, 0);
    pointer-events: none;
    &:hover {
        background-color: rgb(255, 0, 0) !important;
    }
}
.missed {
    background-color: rgb(148, 143, 143);
    cursor: default;
    pointer-events: none;
}
