// FONTS
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Black Ops One";
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 114, 203);
}

// All stylesheets are imported to this file, which is then imported to the webpack entry index.js.
@import "./header.scss";
@import "./footer.scss";
@import "./main.scss";
